<section class="container">
  <h1 class="title">Search for Movies, TV shows, and Video Games!</h1>
  <form class="searchBar">
    <input placeholder="Search by Title" ng-model="title">
    <input type="image"  src="./img/magnifier-tool.svg" ng-Click="getMovie(title)" height="28px">
  </form>

    <div ng-repeat="movie in move" class="movers">
      <div class="one">
          {{movie.Title}}
          <span>
              {{movie.plot}}
          </span>
      </div>



      <div class="two">
          Released: {{movie.Year}}
          <span>
            Meta Score: {{movie.score}}
          </span>
      </div>



      <img class="three" ng-show="{{movie.Poster !== 'N/A'}}" ng-src='https://img.omdbapi.com/?i={{movie.imdbID}}&h=200&apikey=8ff7b56'>

    </div>

</section>
